
#bottom {
    bottom: 0;
    position: fixed;
    left: 70%;
    right: 0;
    text-align: center;
}


body {
    background-color: #ffffb5;
    font-family: Arial;

  }
  
  * {
    box-sizing: border-box;
  }
  
  .dot {
    height: 12px;
    width: 12px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
  }

  .dot-button {
    height: 12px;
    width: 12px;
    background-color: #ffed89;
    border-radius: 50%;
    display: inline-block;
    padding: 0px 0px 0px 0px;
    border: none;
    text-align: center;
    text-decoration: none;
  }
  
  .container {
    border: 5px solid #ffc476;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    cursor: move;
    width: fit-content;
    block-size: fit-content;
  }
  
  .top {
    padding: 10px;
    background: #ffc476;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
  }
  
  .content {
    padding: 10px;
    background-color:#ffffb5 ;
  }
  
  button:hover {
      border: none;
      background-color: #5f5f5f;

  }

  .prev, .next {
    cursor: pointer;
    width: auto;
    color: #ffc476;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    user-select: none;
    border-radius: 0 3px 3px 0;
  }

  .mySlides2 img{
    width: 25vw;
  }


  .mySlides1 img{
    width: 25vw; 
  }

  .column {
    float: left;
  }
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
